

.logo_imagem {
    height:3em;
}

.imagem_carrosel {
    margin-top: 4.5em;
    object-fit: cover;
    
    height: 500px;
}


.card_largura {
    max-width: 18rem;
}

.borda_cor_especial {
    border-color: darkred;
}

.imagem_logo {
    height: 10em;
}

.footer_links {
    text-decoration: none;
    background-image: url(./Imagens/371-3718708_duas-folhas-png-download-transparent-png.png);
}

.payment {
    display: flex;
    list-style-type: none;
    width: 25px;
    justify-content: center;
}

.sobrenos {
    
    align-content: center;
}

.vagas {
    margin-top: 5em;
}

.foto__card {
    height: 450px;
}

.form {
    margin-top: 2em;
    padding: 25em;
    background-image:url(./Imagens/fundo-de-folhas-tropicais-criativas_52683-37223.webp);
    color: azure;
}

.form__cadas {
    border-radius: 4px 3px 6px;
    
    font-family: var(--bs-body-font-family);
}

.cadas__titulo {
    font-size: 28px;
    text-align: center;
    
}